<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="key1" value="value1"/>
    <add key="fileProcessedRepsCount" value="rep_num.txt"/>
    <add key="fileProcessedSlnsCount" value="sln_num.txt"/>
    <add key="pathToSlnFile" value="D:\DeepApiReps\slns.txt"/>
    <add key="pathToExtractedDataFile" value="D:\DeepApiReps\res_3.txt"/>
    <add key="logFilePath" value="exceptions.txt"/>
    <add key="databasePath" value="D:\hubic\DeepApi#"/>
    <add key="pathForCloning" value="D:\DeepApiReps\"/>
    <add key="foldersToLeave" value="500"/>
    <add key="autoDeleteEnabled" value="false"/>
    <add key="fileWithUrls" value="D:\DeepApiReps\again_reps_max.txt"/>
  </appSettings>
</configuration>